<h1>New Membership</h1>
<% if @already_member %>
	<p>
		You are already a member of that club!
	</p>
<% end %>
<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited rating from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select :beer_club_id, options_from_collection_for_select(@beer_clubs, :id, :to_s) %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class:'btn btn-primary' %>

<% end %>

<%= link_to 'Back', memberships_path %>
