<p id="welcome-to-club" class="welcome-to-club"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>
<% if current_user %>
  <% unless current_user.already_belongs_to_club(@beer_club.id) %>
    <h3>Join this club</h3>
     <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club" %>
     <% end %>
  <% else %>
    <h3>End the membership</h3>
     <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"end the membership", class:'btn btn-danger' %>
     <% end %>
  <% end %>
<% end %>
<p>
  <strong>Members:</strong>
  <ul>
  	<% @beer_club.members.each do |member| %>
      <% unless @pending.any? { |p| p.user_id == member.id } %>
          <li><%= member.username %></li>
      <% end %>
    <% end %>
   </ul>
</p>
<p>
  <strong>Pending applications:</strong>
  <ul>
    <% @pending.each do |member| %>
        <li><%= member.user.username %> 
          <% if current_user and current_user.already_belongs_to_club(@beer_club.id) and current_user.is_confirmed_member_of_club(@beer_club.id) %>
            <%= link_to 'Confirm membership', confirm_membership_membership_path(member.user_id), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        </li>
      <% end %>
   </ul>
</p>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
