<p id="notice"><%= notice %></p>
<% if current_user and current_user.admin and current_user.id != @user.id %>
    <% suspend_or_activate = @user.suspended ? "Activate" : "Suspend" %>
	<p>
		<h4><%= suspend_or_activate %> account </h4>
        <%= link_to suspend_or_activate, suspend_user_user_path(@user.id), method: :post, class: "btn btn-danger btn-sm" %>
    </p>
<% end %>
<p>
  <h2><%= @user.username %>
  <% if @user.suspended  %>
    <span class="label label-info">suspended</span>
  <% end %>
</h2>
</p>

<p>
	<% unless @user.ratings.empty? %>
  		Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average) %>
  		<p>Favorite brewery: <%=@user.favorite_brewery.name %> </p>
		<p>Favorite beer: <%=@user.favorite_beer %> </p>
		<p>Favorite style: <%=@user.favorite_style %> </p>
  	<% else %>
  		Has not made any ratings.
  	<% end %>
</p>
<p>
	<h3>Ratings</h3>
	<ul>
	    <% @user.ratings.each do |rating| %>
	      <li>
	        <%= rating %>
	        <% if @user == current_user %>
	            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
	        <% end %>
	      </li>
	    <% end %>
  	</ul>
</p>
<p>
<h3>Is member of clubs</h3>
	<ul>
	    <% @user.memberships.each do |membership| %>
	      <li>
	        <%= @beer_clubs.find(membership.beer_club_id).name %>
	      </li>
	    <% end %>
  	</ul>
</p>
<% if @user == current_user %>
	<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
