<p id="notice"><%= notice %></p>
<% cache @brewery do %>
  <p>
    <h2><%= @brewery.name %>
    	<% if not @brewery.active  %>
      	<span class="label label-info">retired</span>
    	<% end %>
    </h2>
  </p>
  <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

  <p>
    <i>Established in <%= @brewery.year %></i>
    
  </p>

  <p>
  	Beers <%= @brewery.beers.count %>
  </p>

  <p>
   <% @brewery.beers.each do |beer| %>
     <%= link_to beer.name, beer_path(beer.id) %>
   <% end %>
  </p>

  <% if @brewery.ratings.empty? %>
  	Beers has not yet been rated!
  <% else %>
  	Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average %>
  <% end %>
  </p>
<% end %>
 <%= edit_and_destroy_buttons(@brewery) %>